/*Colors*/
$header_color: #E10600;
$header_text_color: #F6F6F7;

$link_text_color: #F6F6F7;
$link_background_color: #15151E;

$grad_color1: #F7F4F1;

$card_color: #F6F6F7;
$card_text_color: #15151E;

$scroll_color: #E10600;
$scroll_bar_color: #E2E2E2;

$highlight_color: #f1d46e;
